<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<style>body{

         background-color:white;

		}</style>
<body>
<table class="layui-hide" id="employeeTab"></table>
<form class="layui-form" th:action="@{/fire}" method="post">
    <div class="layui-col-md4 layui-col-md-offset4" style="margin-top: 10%;">
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-username"></i>
                    </div>
                    <input type="text" id="employeeId" name="employeeId" value="" lay-verify="required" placeholder="请输入要开除的员工ID" lay-reqtext="请填写ID" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-fire">确定</button>
        </div>
    </div>
</form>
<script type="text/html" id="employeeTab-Pagebar">
</script>
</body>
<script th:src="@{/layui/layui.js}"></script>

<script th:inline="javascript">
    var contextPath = [[@{/}]];
</script>

<script th:src="@{/js/index.js}" th:inline="javascript"></script>
<script>
layui.use(function(){
  var $ = layui.$,
    form = layui.form,
    layer = layui.layer,
    util = layui.util;


  // 提交事件
  form.on('submit(demo-fire)', function(data){
    var field = data.field; // 获取表单字段值

    // 如果要使用form表单来调用后台接口，请将下面代码注释，最后将return false改成return true;
    var loadIndex = layer.msg("开除中", {
        icon: 16,
        shade: 0.01
      });

    // 使用ajax异步请求登录系统
    $.ajax({
       type: "POST",
       url: "[[@{/fire}]]",
       contentType: "application/json",
       data: JSON.stringify(field),
       dataType: "json",
       success: function(data) {
         var success = data.success;
         layer.close(loadIndex);
         // 开除不成功
         if (!success) {
             layer.msg(data.msg, {icon: 0});
             return;
         }
         // 开除成功，刷新网页
         window.location.href= "[[@{/home}]]";
       }
    });
    // 阻止form表单使用同步请求的方式提交
    return false;
  });
});
</script>
</html>