<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="layui\css\layui.css" rel="stylesheet">
</head>
<style>body{
         background-color:white;

		}
</style>
<style type="text/css">
    .kkdiv{
        width: 380px;
        height: 475px;
        background: url(2.jpg);
        background-size: 100% 100%;
        border-radius: 10px;

    position:absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    }
    .color {
  color: white
}
</style>


<body>


<br>
<br>
<br>

<center><div>
    <h1 class="color">提 交 界 面</h1>
</div></center>

<div class="kkdiv">
    <form class="layui-form"  th:action="@{/submitEmployee}" method="post">

        <br>
        <br>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline layui-input-wrap">
                    <input type="text" id="employeeName" name="employeeName" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline layui-input-wrap">
                    <input type="text" id="employeeSex" name="employeeSex" lay-verify="required" placeholder="请输入性别"  class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">员工ID</label>
                <div class="layui-input-inline layui-input-wrap">
                    <input type="text" id="employeeId" name="employeeId" lay-verify="required" autocomplete="off" placeholder="请填写ID" lay-affix="clear" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属部门</label>
                <div class="layui-input-inline layui-input-wrap">
                    <input type="text" id="employeeDepartment" name="employeeDepartment" lay-verify="required" autocomplete="off" placeholder="请填写部门" lay-affix="clear" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">报到日期</label>
            <div class="layui-input-inline layui-input-wrap">
                <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-date"></i>
                </div>
                <input type="text" name="employeeDate" id="employeeDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>

        <br>
        <br>

        <div>
            <div class="layui-inline">
                <label class="layui-form-label">出生日期</label>
                <div class="layui-input-inline layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                    <input type="text" name="employeeBirthday" id="employeeBirthday" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="demo-submitEmployee">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>



<script src="layui\layui.js"></script>
<script>
layui.use(function(){
  var $ = layui.$,
    form = layui.form,
    layer = layui.layer,
    util = layui.util;
  // 提交事件
  form.on('submit(demo-submitEmployee)', function(data){
    var field = data.field; // 获取表单字段值

    // 如果要使用form表单来调用后台接口，请将下面代码注释，最后将return false改成return true;
    var loadIndex = layer.msg("提交中", {
        icon: 16,
        shade: 0.01
      });

    // 使用ajax异步请求登录系统
    $.ajax({
       type: "POST",
       url: "[[@{/submitEmployee}]]",
       contentType: "application/json",
       data: JSON.stringify(field),
       dataType: "json",
       success: function(data) {
         var success = data.success;
         layer.close(loadIndex);
         // 提交不成功
         if (!success) {
             layer.msg(data.msg, {icon: 0});
             return;
         }
         // 提交成功
         window.location.href= "[[@{/Submit}]]";
       }
    });
    // 阻止form表单使用同步请求的方式提交
    return false;
  });
});
</script>
</body>
</html>