@font-face {
  font-family: "iconfont"; /* Project id 4136357 */
  src: url('iconfont.woff2?t=1687664021292') format('woff2'),
       url('iconfont.woff?t=1687664021292') format('woff'),
       url('iconfont.ttf?t=1687664021292') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-customer-bussinessman:before {
  content: "\e827";
}

.icon-customer-group-fill:before {
  content: "\e828";
}

.icon-editor-left-alignment:before {
  content: "\e82a";
}

.icon-message-reply-template:before {
  content: "\e82e";
}

.icon-good-fill:before {
  content: "\e83b";
}

.icon-good:before {
  content: "\e83c";
}

.icon-table:before {
  content: "\e86c";
}

.icon-rencaishuangxuanhui:before {
  content: "\e87b";
}

.icon-sousuopaixu:before {
  content: "\e87f";
}

.icon-hangyebaogao:before {
  content: "\e881";
}

